[project]
name = "{{ project_slug }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
    "platformdirs>=4.9.6",
    "pydantic>=2.13.4",
    "pydantic-settings>=2.14.0",
    "structlog>=25.5.0",
    "tomli>=2.4.1",
    "tomli-w>=1.2.0",
    "tomlkit>=0.15.0",
    "typer>=0.25.1",
]

[project.scripts]
{{ project_slug }} = "{{ package_slug }}.main:main"

[build-system]
requires = ["uv_build>=0.9.13,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "pytest>=8.0.0",
    "ruff>=0.15.12",
]

[tool.pytest.ini_options]
minversion = "8.0"
testpaths = ["tests"]
python_files = "test_*.py"
