from typer import Typer

from .callbacks.global_options import global_options
from .commands import (
    config_app,
{%- if with_example %}
    {{ example_name }}_app,
{%- endif %}
    version_app,
)

app = Typer(callback=global_options, pretty_exceptions_show_locals=False, no_args_is_help=True)

app.add_typer(config_app, name='config')
{%- if with_example %}
app.add_typer({{ example_name }}_app, name='{{ example_name }}')
{%- endif %}
app.add_typer(version_app, name='version')
