#!/usr/bin/env python
# Copyright (c) {{ author_name }}
# All rights reserved.
"""所有模块化配置的抽象基类."""

from pydantic_settings import BaseSettings, SettingsConfigDict


class BaseConfig(BaseSettings):
    """模块化配置基类, 所有子配置类均继承自此."""

    model_config = SettingsConfigDict(
        extra='forbid',
        validate_default=False,
        populate_by_name=True,
    )
