#!/usr/bin/env python
# Copyright (c) {{ author_name }}
# All rights reserved.
"""配置管理-基础配置类."""

from pydantic_settings import BaseSettings, SettingsConfigDict


class BaseConfig(BaseSettings):
    """基础配置类, 所有模块化配置的父类."""

    model_config = SettingsConfigDict(
        case_sensitive=False,
        extra='ignore',
        validate_default=False,
        arbitrary_types_allowed=True,
        populate_by_name=True,
    )
