#!/usr/bin/env python
# Copyright (c) {{ author_name }}
# All rights reserved.
"""配置管理-环境配置."""

from pydantic import Field

from {{ package_slug }}.core.constants import EnvironmentType

from .base import BaseConfig


class EnvironmentConfig(BaseConfig):
    """环境配置."""

    environment: EnvironmentType = Field(
        default=EnvironmentType.DEVELOPMENT,
        description='运行环境',
        validation_alias='APP_ENV',
    )

    debug: bool = Field(
        default=False, description='调试模式', validation_alias='APP_DEBUG'
    )

    def is_development(self) -> bool:
        """判断是否为开发环境."""
        return self.environment == EnvironmentType.DEVELOPMENT

    def is_production(self) -> bool:
        """判断是否为生产环境."""
        return self.environment == EnvironmentType.PRODUCTION

    def is_testing(self) -> bool:
        """判断是否为测试环境."""
        return self.environment == EnvironmentType.TESTING

    def is_staging(self) -> bool:
        """判断是否为预发布环境."""
        return self.environment == EnvironmentType.STAGING
