#!/usr/bin/env python
# Copyright (c) {{ author_name }}
# All rights reserved.
"""主程序."""

import contextlib
import sys

from {{ package_slug }}.cli.callbacks.help_decorator import support_help_at_end

from .cli import app

# 确保 Windows 控制台 UTF-8 编码, 避免中文乱码
for stream in (sys.stdout, sys.stderr):
    if stream.encoding and stream.encoding.lower() not in ('utf-8', 'utf8'):
        with contextlib.suppress(Exception):
            stream.reconfigure(encoding='utf-8')  # type: ignore


@support_help_at_end
def main() -> None:
    """主函数."""
    app()


if __name__ == '__main__':
    main()
