from .config_cmd import app as config_app
{%- if with_example %}
from .{{ example_name }}_cmd import app as {{ example_name }}_app
{%- endif %}
from .version_cmd import app as version_app

__all__ = [
    'config_app',
{%- if with_example %}
    '{{ example_name }}_app',
{%- endif %}
    'version_app',
]
