#!/usr/bin/env python
# Copyright (c) {{ author_name }}
# All rights reserved.
"""应用软件的常量定义 (枚举类型)."""

from enum import StrEnum


class EnvironmentType(StrEnum):
    """环境类型."""

    DEVELOPMENT = 'development'
    STAGING = 'staging'
    PRODUCTION = 'production'
    TESTING = 'testing'


class LogLevel(StrEnum):
    """日志级别."""

    DEBUG = 'DEBUG'
    INFO = 'INFO'
    WARNING = 'WARNING'
    ERROR = 'ERROR'
    CRITICAL = 'CRITICAL'


class DatabaseType(StrEnum):
    """数据库类型."""

    POSTGRESQL = 'postgresql'
    MYSQL = 'mysql'
    SQLITE = 'sqlite'


class ConfigType(StrEnum):
    """配置类型.

    TODO: 未来版本支持 YAML 和 ENV 配置格式.
    """

    TOML = 'toml'
    YAML = 'yaml'
    ENV = 'env'
